html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.field-validation-error,
label.error {
    color: red;
    
}

.input-validation-error,
input.error {
    border: 2px solid;
    border-color: red;
}

.validation-summary-errors {
    color: red;
}

